extends layout

block content
  ul
    li <a href="https://sistersoftheroad.org/">Sisters of the Road</a>
    li <a href="www.streetroots.org">Street Roots</a>
    li <a href="http://www.rosehaven.org/">Rose Haven</a>
    li <a href="http://www.workfrom.co/">Workfrom</a>